@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease; /* For dark mode transition */
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

#dark-mode-toggle {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

main {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form select,
form button {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #333;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode header {
  background-color: #1f1f1f;
}

body.dark-mode main {
  background-color: #1e1e1e;
}

footer {
  text-align: center;
  margin-top: 130px;
  padding: 10px;
  background-color: #333;
  color: white;
}

footer p {
  margin: 0;
}
